@import url('https://fonts.googleapis.com/css2?family=FAMILY_NAME:wght@WEIGHT_OR_RANGE&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url("https://images2.alphacoders.com/104/thumb-1920-1042582.jpg");
    background-size: cover;
    background-position: 50% 60%;
    color: white;
    font-family: Arial;
}
div#logo img{
    display: flex;
    padding: 20px;
    top: 10px;
    max-width: 150px;
    max-height: 100px;
}
h2{
    position: relative;
    top: 20px;
    font-size: 90px;
    color: white;
    font-family: sans-serif;
    text-align: center;
}
input{
    display:block;
    height: 60px;
    width: 400px;
    margin: 10px;
    border-radius: 30px;
    border: 1px solid white;
    font-size: 16pt;
    padding: 0 35px 0 5px;
    background-color: rgba(255,255,255,0.01);
    outline: none;
    color: white;
}

div#corpo-form{
    background-color: transparent;
    width: 420px;
    height: 410px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    margin: 40px auto 0px auto;
}
div#corpo-form-cad{
    background-color: transparent;
    width: 420px;
    height: 480px;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 20px;
    backdrop-filter: blur(3px);
    box-shadow: 0 0 30px rgba(0, 0, 0,.5);
    margin: 60px auto 0px auto;
}
div#corpo-form h1,div#corpo-form-cad{
    text-align: center;
    padding: 20px;
}
.inputbox ion-icon{
    display: flex;
    position: absolute;
    margin: 18px 0 1px;
    left: 380px;
    font-size: 1.2em;   
}
a{
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
}
a:hover{
    text-decoration: underline;
}
input[type=submit]{
    background-color: aliceblue;
    border: none;
    cursor: pointer;
    color: black;
}
::-webkit-input-placeholder{
    color: white;
}
:-moz-placeholder{
    color: white;
}
::-moz-placeholder{
    color: white;
}
:-ms-input-placeholder{
    color: white;
}
div#msg-sucesso{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(50,205,50,.3);
    border: 1px solid rgba(34,139,34);
}
div.msg-erro{
    width: 400px;
    margin: 10px auto;
    padding: 10px;
    background-color: rgba(250,128,114,.3);
    border: 1px solid rgba(165,42,42);

}