html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

.center-div1 {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.center-div2 {
  padding-top: 40vh;
  padding-bottom: 40vh;
}