html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
}

.center-div1 {
  padding-top: 50vh;
  padding-bottom: 50vh;
}

.bg-wave {
  background-image: url("../img/waves.jpg");
}