.center-div1 {
  padding-top: 34vh;
  padding-bottom: 34vh;
}

.center-div2 {
  padding-top: 30vh;
  padding-bottom: 16vh;
}

.center-div3 {
  padding-top: 20vh;
  padding-bottom: 16vh;
}

.center-div5 {
  padding-top: 25vh;
  padding-bottom: 25vh;
}

.bg-servicos {
  background-color: rgb(37, 150, 190);
}

.bg-cases {
  background-color: #854DFF;
}

/* .main-page {
  background-image: url("../img/waves.jpg");
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  background-color: rgb(20, 36, 128);
  color: white;
  z-index: -1;
} */
