body {
  font-family: 'Raleway', sans-serif;
  color: black;
}

/* .main-page {
  background-image: url("../img/waves.jpg");
  display: grid;
  position: relative;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  text-align: center;
  background-color: rgb(20, 36, 128);
  color: white;
  z-index: -1;
} */
