.navbar {
  background-color: rgb(6, 21, 81);
  color: #fff;
  padding: 25px;
  display: flex;
  justify-content: space-between;
}

.navbar-brand {
  color: #fff;
  background-color: white;
  height: 70px;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin-right: 20px;
  font-weight: 600;
}

.nav-link:hover {
  color: #854DFF;
}

.active {
  color: #854DFF;
}
